<html>
<head>
  <title>Therapias</title>
</head>
<body>
<h1>Terapias </h1>

<ngb-alert [type]="'danger'" *ngIf="errorMessage" (closed)="errorMessage=''">{{ errorMessage }}</ngb-alert>

<table *ngIf="!errorMessage" class="table table-striped">
  <thead>
  <tr>
    <td>ID</td>
    <td>Nombre</td>
    <td>Descripción</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let therapy of therapies">
    <td>{{ therapy.id }}</td>
    <td>{{ therapy.name }}</td>
    <td>{{ therapy.description }}</td>
  </tr>
  </tbody>
</table>
</body>
</html>
